{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
    </style>
    <script src="https://kit.fontawesome.com/03c91ce9d4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="{% static 'js/app.js' %}" defer></script>

    <title>{% block title %}Pyxis Home{% endblock %}</title>
</head>

<body>
    <div id="app">
        {% csrf_token %}
        <header id="header">
            <div id="user-info">
                <form class="theme-picker">
                    <fieldset>
                        <legend class="sr-hidden">Themes</legend>
                        <label for="dark" class="sr-hidden">Dark</label>
                        <input type="radio" name="theme" id="dark" checked>
                        <label for="light" class="sr-hidden">Light</label>
                        <input type="radio" name="theme" id="light">
                    </fieldset>
                </form>
                {% block authcontent %}
                {% if user.is_authenticated %}
                <div class="greeting">
                    <h2>{{ user.username }}</h2>
                </div>
                <div class="auth">
                    <a href="{% url 'logout' %}">LOGOUT</a>
                </div>
                {% else %}
                <div class="greeting">
                    <h2>Welcome</h2>
                </div>
                <div class="auth">
                    <a href="{% url 'login' %}">Login</a> or
                    <a href="{% url 'accounts:signup' %}">Sign Up</a>
                </div>
                {% endif %}
                {% endblock %}
            </div>

            <div id="weekdates">
                [[ weekStart ]] to [[ weekEnd ]]
            </div>

            <nav id="weekly-view">
                <div class="prev-week" @click="weekPrev">
                    <i class="fa-solid fa-angles-left"></i>
                </div>
                    <div v-for="day in daysOfTheWeek" :id="day.name" class="weekday" 
                        :class="[{selectDay:todayWeekday === day.name}, {selectDay:today === day.name}, 
                        {weekahead: changeWeekNext}, {weekbehind: changeWeekPrev}]"
                        @click="today = day.name">
                        [[ day.abbrv ]]
                    </div>
                <div class="next-week" @click="weekNext">
                    <i class="fa-solid fa-angles-right"></i>
                </div>
            </nav>
        </header>

        <div id="wrapper">
            <!-- TODO: refine preview content for unauthenticated -->
            {% block content %}

            <div id="habits" class="main" 
                :class="[{activeTab: activeHabits}, {inactiveTab: activeTasks || activeJournal }]" 
                @click="activeHabits = !activeHabits">

                <h3 v-if="today != ''" class="title">[[today]]'s habits</h3>

                {% if user.is_authenticated %}

                <div class="show-entry">
                    <div v-if="!activeHabits" class="preview">
                        <div v-for="h in habitsPreview">
                            [[ h.name ]]
                        </div>
                    </div>

                    <div v-if="activeHabits" class="full">
                        <dl v-for="h in habits">
                            <dt>[[ h.name ]]</dt>
                            <dd>[[ h.description ]]</dd>
                        </dl>
                    </div>
                </div>

                <div class="add-entry">
                    <button class="add-button">
                        <i class="fa-solid fa-plus"></i>
                    </button>
                </div>

                {% else %}

                <div v-if="!activeHabits" class="preview">
                    <div>THING</div>
                    <div>THING</div>
                    <div>THING</div>
                </div>
                <div v-if="activeHabits" class="full">
                    <dl>
                        <dt>THING</dt>
                        <dd>all about thing</dd>
                        <dt>THING</dt>
                        <dd>all about thing</dd>
                        <dt>THING</dt>
                        <dd>all about thing</dd>
                        <dt>THING</dt>
                        <dd>all about thing</dd>
                        <dt>THING</dt>
                        <dd>all about thing</dd>
                    </dl>
                </div>
                <p>Sign up and get started!</p>
                {% endif %}
            </div>

            <div id="tasks" class="main" 
                :class="[{activeTab: activeTasks}, {inactiveTab: activeHabits || activeJournal }]">

                <div class="title" @click="activeTasks = !activeTasks">
                    <h3 v-if="today != ''">[[today]]'s tasks</h3>
                </div>

                {% if user.is_authenticated %}
                <!-- TODO: load in tasks -->
                <div class="show-entry">
                    <div v-if="!activeTasks" class="preview">
                        <!-- <div v-for="t in taskPreview">
                            [[ t.name ]]
                        </div> -->
                    </div>
                    <div v-if="activeTasks" class="full">
                        <div v-if="addTaskWindow" class="add-window">
                            <h4>New Task</h4>
                            <div class="input">
                                <label for="taskname">Name: </label>
                                <input type="text" name="taskname" v-model="newTaskName">
                            </div>
                            <div class="input">
                                <label for="taskdesc">Description: </label>
                                <div>
                                    <textarea name="taskdesc" rows="5" cols="25" v-model="newTaskDesc"></textarea>
                                </div>
                            </div>
                            <div class="input">
                                <label for="taskurgent">Urgent: </label>
                                <input type="checkbox" name="taskurgent" v-model="newTaskUrgent">
                                <label for="taskimportant">Important: </label>
                                <input type="checkbox" name="taskimportant" v-model="newTaskImportant">
                            </div>
                            <div class="input">
                                <label for="taskdue">Due: </label>
                                <input type="date" name="taskdue" min="newDate" v-model="newTaskDue">
                            </div>
                            <button @click="addTask">Save</button>
                        </div>
                        <dl v-for="t in tasks">
                            <dt>
                                <span v-if="!t.completed_time" @click="updateTask(t.id)">
                                    <i class="fa-regular fa-square"></i>
                                </span>
                                <span v-if="t.completed_time" @click="updateTask(t.id)">
                                    <i class="fa-solid fa-square-check"></i>
                                </span>
                                [[ t.name ]] 
                                <i class="fa-solid fa-pen-to-square" title="Edit"></i>
                            </dt>
                            <dd>[[ t.description ]]</dd>
                        </dl>
                    </div>
                </div>

                <div class="add-entry">
                    <button class="add-button" @click="openTasks">
                        <i class="fa-solid fa-plus"></i>
                    </button>
                </div>
                {% else %}
                <div class="show-entry">
                    <div v-if="!activeTasks" class="preview">
                        <div>THING</div>
                        <div>THING</div>
                        <div>THING</div>
                    </div>
                    <div v-if="activeTasks" class="full">
                        <dl>
                            <dt>THING</dt>
                            <dd>all about thing</dd>
                            <dt>THING</dt>
                            <dd>all about thing</dd>
                            <dt>THING</dt>
                            <dd>all about thing</dd>
                            <dt>THING</dt>
                            <dd>all about thing</dd>
                            <dt>THING</dt>
                            <dd>all about thing</dd>
                        </dl>
                        <p>Sign up and get started!</p>
                    </div>
                </div>
                {% endif %}

            </div>

            <div id="journal" class="main" 
                :class="[{activeTab: activeJournal}, {inactiveTab: activeHabits || activeTasks }]"
                @click="activeJournal = !activeJournal">

                <h3 class="title">JOURNAL</h3>

                {% if user.is_authenticated %}
                <div class="show-entry">
                    <div v-if="!activeJournal">
                        Most recent Journal Day, prev first 3 lines
                    </div>
                    <div v-if="activeJournal">
                        <h5>DATE OF ENTRY</h5>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                            sed do eiusmod tempor incididunt ut labore et dolore magna 
                            aliqua. Lectus quam id leo in vitae turpis massa sed elementum. 
                            Id faucibus nisl tincidunt eget nullam non nisi est. 
                            Amet nisl suscipit adipiscing bibendum est. Iaculis urna 
                            id volutpat lacus. Eu turpis egestas pretium aenean pharetra 
                            magna ac placerat. Nibh sed pulvinar proin gravida. Gravida 
                            neque convallis a cras semper. Non quam lacus suspendisse 
                            faucibus interdum. At consectetur lorem donec massa sapien 
                            faucibus et. Placerat in egestas erat imperdiet sed euismod 
                            nisi porta lorem. Integer eget aliquet nibh praesent tristique
                            magna sit amet purus. Nisi est sit amet facilisis magna etiam. 
                            Congue eu consequat ac felis donec et. 
                            Rutrum tellus pellentesque eu tincidunt tortor aliquam nulla. 
                            Urna id volutpat lacus laoreet. Arcu odio ut sem nulla.
                        </p>
                        <p>
                            Morbi leo urna molestie at elementum. 
                            Id aliquet lectus proin nibh nisl. 
                            Sed adipiscing diam donec adipiscing tristique risus nec 
                            feugiat. Porttitor rhoncus dolor purus non enim. Proin nibh 
                            nisl condimentum id venenatis a condimentum vitae sapien. 
                            Porttitor eget dolor morbi non arcu risus quis. Commodo sed 
                            egestas egestas fringilla phasellus faucibus scelerisque 
                            eleifend. Vulputate sapien nec sagittis aliquam. Ut ornare 
                            lectus sit amet est. Et tortor at risus viverra adipiscing at. 
                            Donec massa sapien faucibus et. Morbi tristique senectus 
                            et netus et malesuada fames ac turpis. Donec ac odio tempor 
                            orci dapibus ultrices. Massa ultricies mi quis hendrerit 
                            dolor. Sed velit dignissim sodales ut eu sem integer. 
                            Consectetur a erat nam at lectus urna. Velit laoreet id donec 
                            ultrices. Fusce id velit ut tortor. 
                        </p>
                    </div>
                </div>
                {% else %}
                <div class="show-entry">
                    <p>Sign up and get started!</p>
                </div>
                {% endif %}
            </div>
            {% endblock %}
        </div>

    </div>
</body>

</html>