{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Azeret+Mono&family=Bebas+Neue&display=swap');
    </style>
    <script src="https://kit.fontawesome.com/03c91ce9d4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="{% static 'js/app.js' %}" defer></script>

    <title>{% block title %}Pyxis Home{% endblock %}</title>
</head>

<body>
    {% load tz_detect %}
    <div class="sr-hidden">
        {% now "jS F Y H:i" %}
    </div>
    {% tz_detect %}
    <div id="app">
        {% csrf_token %}
        <header id="header">
            <div id="user-info">

                <div class="menu">
                    
                    <div class="base-menu">

                        <span>MENU</span>
                        <i class="fa-solid fa-bars menu-button" @click="viewMenu = !viewMenu"></i>
                    </div>
                    <div class="nav" :class="{'fullmenu':viewMenu}">
                        <fieldset>
                            <legend class="sr-hidden">Themes</legend>
                            <color-themes v-show="viewMenu"/>
                        </fieldset>
                        {% if user.is_authenticated %}
                        <nav v-if="viewMenu"><a href="{% url 'logout' %}">LOGOUT</a></nav>
                        {% else %}
                        <nav v-if="viewMenu"><a href="{% url 'login' %}">LOGIN</a></nav>
                        {% endif %}
                        <nav v-if="viewMenu"><a href="{% url 'about' %}">ABOUT</a></nav>
                    </div>
                </div>
                <a href="{% url 'home' %}"><img src="{% static 'media/logo.svg' %}" class="logo"></a>
                {% block authcontent %}
                {% if user.is_authenticated %}
                <div class="auth">
                    <h2>{{ user.username }}</h2>
                </div>
                {% else %}
                <nav class="auth">
                    <a href="{% url 'login' %}">Login</a> or
                    <a href="{% url 'accounts:signup' %}">Sign Up</a>
                </nav>
                {% endif %}
                {% endblock %}
            </div>

            <div id="weekdates">
                [[ weekStart ]] to [[ weekEnd ]]
            </div>

            <nav id="weekly-view">
                <div class="prev-week" @click="weekPrev">
                    <i class="fa-solid fa-angles-left"></i>
                </div>
                <div v-for="day in daysOfTheWeek" :id="day.name" class="weekday" :class="[{selectDay:todayWeekday === day.name}, {selectDay:today === day.name}, 
                        {weekahead: changeWeekNext}, {weekbehind: changeWeekPrev}]" @click="viewForDay(day.name)">
                    [[ day.abbrv ]]
                </div>

                <div class="next-week" @click="weekNext">
                    <i class="fa-solid fa-angles-right"></i>
                </div>
            </nav>
        </header>

        <div id="wrapper">
            {% block content %}
            {% if not user.is_authenticated %}
            <tutorial v-if="!currentUser && showTutorial" @close="showTutorial = false"></tutorial>
            {% endif %}

            <div id="habits" class="main" :class="[{activeTab: activeHabits}, 
                {inactiveTab: activeTasks || activeJournal }]">

                <div class="title" @click="activeHabits = !activeHabits">
                    <h3 v-if="today != ''">[[today]]'s habits</h3>
                </div>

                {% if user.is_authenticated %}

                <div class="show-entry">
                    <div v-if="!activeHabits" class="preview">
                        <div v-for="h of habitsPrev">
                            [[ h.name ]]
                        </div>
                    </div>

                    <div v-if="activeHabits" class="full">
                        <div v-if="addHabitWindow" class="add-window">
                            <h4>New Habit</h4>
                            <div class="input">
                                <label for="habitname">Name: </label>
                                <input type="text" name="habitname" v-model="newHabitName">
                            </div>
                            <div class="input">
                                <label for="habitdesc">Description: </label>
                                <div>
                                    <textarea name="habitdesc" rows="5" cols="25" v-model="newHabitDesc"></textarea>
                                </div>
                            </div>
                            <div class="input">
                                <label for="recurrence">Schedule: </label>
                                <div class="habit-scheduler">
                                    <label v-for="(day, index) in daysOfTheWeek" for="day.name" class="weekday-select"
                                        :class="{'checked':newRecurrence[index]}">
                                        <input type="checkbox" name="day.name" v-model="newRecurrence[index]">
                                        <span class="weekabbrv">[[day.abbrv]]</span>
                                    </label>
                                </div>
                            </div>
                            <button @click="addHabit">Save</button>
                        </div>

                        <user-habits :habits="todayHabitTaskData" @update="updateHabitTask"
                            @delete="deleteHabit"  :completed="completedHabits">
                        </user-habits>

                        <!-- <div v-for="habittaskinfo in todayHabitTaskData">
                            <span @click="updateHabitTask(habittaskinfo)">
                                <i v-if="habittaskinfo.habitTask && habittaskinfo.habitTask.completed_time"
                                    class="fa-solid fa-square-check"></i>
                                <i v-else class="fa-regular fa-square"></i>
                            </span>
                            <span>[[ habittaskinfo.name ]]</span>
                        </div> -->

                    </div>
                </div>

                <div class="add-entry">
                    <button class="add-button" @click="openHabits">
                        <i class="fa-solid fa-plus"></i>
                    </button>
                </div>

                {% else %}

                <div class="show-entry">
                    <div v-if="!activeHabits" class="preview">
                        <div>Walk Dog</div>
                        <div>Meal Prep</div>
                        <div>Exercise</div>
                    </div>
                    <div v-if="activeHabits" class="full">
                        <p>Create habits that repeat on the weekly schedule you want!</p>
                    </div>
                </div>
                {% endif %}
            </div>

            <div id="tasks" class="main" :class="[{activeTab: activeTasks}, 
                {inactiveTab: activeHabits || activeJournal }]">

                <div class="title" @click="activeTasks = !activeTasks">
                    <h3 v-if="today != ''">[[today]]'s tasks</h3>
                </div>

                {% if user.is_authenticated %}

                <div class="show-entry">
                    <div v-if="!activeTasks" class="preview">
                        <div v-for="t in tasksPrev">
                            [[ t.name ]]
                        </div>
                    </div>
                    <div v-if="activeTasks" class="full">
                        <div v-if="addTaskWindow" class="add-window">
                            <h4>New Task</h4>
                            <div class="input">
                                <label for="taskname">Name: </label>
                                <input type="text" name="taskname" v-model="newTaskName">
                            </div>
                            <div class="input">
                                <label for="taskdesc">Description: </label>
                                <div>
                                    <textarea name="taskdesc" rows="5" cols="25" v-model="newTaskDesc"></textarea>
                                </div>
                            </div>
                            <div class="input">
                                <label for="taskurgent">Urgent: </label>
                                <input type="checkbox" name="taskurgent" v-model="newTaskUrgent">
                                <label for="taskimportant">Important: </label>
                                <input type="checkbox" name="taskimportant" v-model="newTaskImportant">
                            </div>
                            <div class="input">
                                <label for="taskdue">Due: </label>
                                <input type="date" name="taskdue" min="newDate" v-model="newTaskDue">
                            </div>
                            <button @click="addTask">Save</button>
                        </div>
                        <user-tasks :tasks="tasks" :key="tasks.id" :completed="completedTasks" @update="updateTask"
                            @delete="deleteTask">
                        </user-tasks>
                    </div>
                </div>

                <div class="add-entry">
                    <button class="add-button" @click="openTasks">
                        <i class="fa-solid fa-plus"></i>
                    </button>
                </div>
                {% else %}
                <div class="show-entry">
                    <div v-if="!activeTasks" class="preview">
                        <div>Grocery Shop</div>
                        <div>Clean Home</div>
                    </div>
                    <div v-if="activeTasks" class="full">
                        <p>Create tasks per day, edit them as needed!</p>
                    </div>
                </div>
                {% endif %}

            </div>

            <div id="journal" class="main" :class="[{activeTab: activeJournal}, 
                {inactiveTab: activeHabits || activeTasks }]">

                <div class="title" @click="activeJournal = !activeJournal">
                    <h3>JOURNAL</h3>
                </div>

                {% if user.is_authenticated %}

                <div class="show-entry">
                    <div v-if="!activeJournal" class="preview">
                        <span v-if="!journalEntry.entry">You have no Journal for this [[today]] yet!</span>
                        <span v-else>[[ journalPrev ]]</span>
                    </div>

                    <div v-if="activeJournal" class="full">
                        <div v-if="addJournalWindow" class="add-window">
                            <h4>New Journal</h4>
                            <div>
                                <label for="new-journal"></label>
                                <textarea name="new-journal" class="editfield" rows="10" cols="70"
                                    v-model="newJournal"></textarea>
                            </div>

                            <button @click="createJournal(journalEntry.id)">Save</button>
                        </div>

                        <daily-journal v-if="journalEntry.entry" :journal="journalEntry" :key="journalEntry.id">
                        </daily-journal>
                    </div>
                </div>

                <div class="add-entry" v-if="!journalEntry.entry">
                    <button class="add-button" @click="openJournal">
                        <i class="fa-solid fa-plus"></i>
                    </button>
                </div>
                {% else %}
                <div class="show-entry">
                    <p>Sign up and get started!</p>
                </div>
                {% endif %}
            </div>
            {% endblock %}
        </div>

    </div>
</body>

</html>